/* line 3, ../sass/default.scss */
body {
  background-color: white;
  font-size: 19px;
  line-height: 1.5em;
  font-family: "Calisto MT", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 10, ../sass/default.scss */
h1, h2, h3, h4, h5, h6 {
  color: #B9B9B9;
  font-family: "Calisto MT", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 15, ../sass/default.scss */
h1 {
  font-size: 76px;
  line-height: 100px;
}

/* line 20, ../sass/default.scss */
h2 {
  line-height: 60px;
}

/* line 24, ../sass/default.scss */
.container {
  margin-top: 60px;
}
