body {
  margin: 0 auto;
  min-width: 200px;
  max-width: 960px;
  width: 100%;
  background-color: #f8f8f8;

  /* Fonts */
  font-family: 'Calisto MT', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 14px;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.25em;
}

h3 {
  margin-bottom: 0;
}

.fa-external-link {
  font-size: 80%;
}