body {
  /* Footer */
  border-bottom: 100px solid transparent;
}

main {
  padding: 3em 3em 3em 3em;
  background-color: #ffffff;
  border-left: solid 5px #eeeeee;
  border-right: solid 5px #eeeeee;
  border-bottom: solid 5px #eeeeee;
}

@media (max-width: 400px) {
  main {
    padding: 8em 0.5em 0 0.5em;
    border: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.nav-item {
  position: absolute;
  padding: 0.5em 0.75em;
  border-radius: 50%;
  background-color: none;
  z-index: 100;
}
