body {
  max-width: 960px;

  /* Footer */
  border-bottom: 100px solid transparent;

  /* Header */
  border-top: 48px solid transparent;
}

main {
  padding: 1em 3em 3em 3em;
  background-color: #ffffff;
  border: solid 5px #eeeeee;
}

@media (max-width: 400px) {
  body {
    border-top: 0;
  }

  main {
    padding: 1em 0.5em 0 0.5em;
    border: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.nav-item {
  position: absolute;
  padding: 0.5em 0.75em;
  border-radius: 50%;
  background-color: none;
  z-index: 100;
}
