---
import { Image } from 'astro:assets';
import ProjectHero from "../components/project_hero.jsx";
import Landing from '../layouts/Landing.astro';

import mug from '../../public/images/daniel.jpeg';

const title = "Daniel Sauble";
---

<Landing title={title}>
  <Image src={mug} alt="mug" class="mug" />

  <h1>Daniel Sauble</h1>

  <p>I&rsquo;m a full-stack Product Designer specializing in AI developer tools.</p>

  <a href="/projects">Projects</a> · <a href="/resume">Resume</a>
</Landing>
