---
import Layout from "../layouts/Layout.astro";

const title = "Daniel Sauble - Resume";
---

<Layout title={title}>
  <h1>Daniel Sauble</h1>

  Product Designer focused on data engineering for the AI/ML space

  <h2>Experience</h2>

  <h3>Principal Product Designer at Prefect (2024-2025)</h3>

  - Lead design for Prefect Cloud, a SaaS orchestration product for Python and data engineering use cases.
  - Shipped an improved observability experience for data platform engineers trying to monitor the health of their workflows.
  - Contributed to technical documentation and wrote persona-focused tutorials based on the <a href="https://diataxis.fr">Diátaxis</a> framework.

  <h3>Senior Product Designer at Iterative (2023-2024)</h3>

  - Led design for DataChain, a ML data warehousing product.
  - Designed new flows to help ML engineers run distributed queries on managed compute resources.
  - Shipped a new logo, website, and demo videos for the DataChain launch.

  <h3>Founding Product Designer at Endor Labs (2022-2023)</h3>

  - Drove the design of our first product (software supply chain security) from inception to first paying customers.
  - Facilitate bi-weekly competitive teardowns to help the team stay abreast of innovation in our space.
  - Close and regular collaboration across exec team, product, and engineering.

  <h3>Lead Product Designer at DataStax (2021-2022)</h3>

  - Lead design for our <a href="https://www.datastax.com/products/astra-streaming" target="_blank">data streaming product <i class="fa fa-external-link" aria-hidden="true"></i></a> based on Apache Pulsar.
  - Shipped updates to Functions, Sources, Change Data Capture, and Billing during our run up to Astra Streaming GA.
  - Explore future concepts for Astra Streaming to serve as a north star as we iterate on the product.
  - End-to-end design process: discovery, definition, wireframes, prototypes, and usability testing.
  - Uplevel the design team's technical expertise by running hands-on workshops (Cassandra, Pulsar, React, etc).

  <h3>Lead Product Designer at New Relic (2020-2021)</h3>

  - Support five teams in our Developer Ecosystem group.
  - Designed <a href="https://developer.newrelic.com" target="_blank">developer.newrelic.com <i class="fa fa-external-link" aria-hidden="true"></i></a> and our App Catalog.
  - Designed a API key management UI for our Accounts group.
  - Contribute PRs to fix code and styling issues.
  - Facilitate monthly user research projects.

  <h3>Product Manager at npm (2019-2020)</h3>

  - Supported five development teams across the company.
  - Shipped a security policy engine for npm Enterprise.
  - Shipped an email invite feature for the public registry.
  - Shipped a `fund` subcommand in the npm CLI to help fund OSS projects.
  - GitHub acquired npm in 2020.

  <h3>Product Owner at Sonatype (2017-2019)</h3>

  - Supported our Nexus Repository Manager team.
  - Shipped a new tree browser for packages.
  - Shipped a better dashboard to spot vulnerable packages in a Repository.
  - Shipped a tool to help people scan packages and get a quality report.
  - Improved engagement with in-product educational content by 700%.

  <h3>Senior UX Developer at Sonatype (2014-2017)</h3>

  - Supported our Nexus Repository Manager team.
  - Lead designer for our 3.0 rewrite of Nexus Repository Manager.
  - Designed and built a new UI pattern for simpler configuration flows.
  - Designed IA and built front-end for a relaunch of Sonatype.com on Hubspot.

  <h3>UX Designer at Puppet (2011-2014)</h3>

  - Supported our Puppet Enterprise and Puppet Patch Manager teams
  - Designed and wrote CSS for a greenfield product (Puppet Patch Manager)
  - Designed and built the front-end for server orchestration in Puppet Enterprise
  - Acting product manager for several of my design projects
  - Led research efforts at two of our annual conferences (150+ user tests)
  - Built and maintained a low-fi UI pattern library for a team of 12 designers

  <h2>Education</h2>

  I'm an avid learner. My current learning focus is machine learning.

  - ALM in Software Engineering, Harvard Extension School, 2017-2020
  - AWS Certified Solutions Architect - Associate, 2019
  - Data Scientist with Python Track, DataCamp, 2018
  - Data Science Certificate, Harvard Extension School, 2017-2018
  - Puppet Professional Certification, 2014
  - Bachelor's of Computer Science, Baker College, 2006-2009

  <h2>Skills</h2>

  <h3>Data</h3>

  Keras, numpy, pandas, sklearn, statsmodels, Sagemaker

  <h3>Design</h3>

  Figma, Illustrator, Photoshop, Loom, pen and paper

  <h3>Development</h3>

  AWS, CSS, Docker, Elasticsearch, Git, GitHub Actions, HTML, JavaScript, Python, React, REST, Swift, Terraform

  <h3>Product</h3>

  Google Apps, Jira, Miro, Slack, Trello

  <h2>Side Projects</h2>

  <h3>Code</h3>

  Some side projects I've worked on.

  <a href="/">My personal website</a> is an Astro site.
  I deploy it to an S3 bucket on AWS using GitHub Actions, with CloudFront as my CDN.

  In 2020, I built a recommendation engine for software packages.
  I worked on it as the capstone project for my Master's program at the Harvard Extension School.
  Package Picker was hosted on AWS ECS using Docker containers, using GitHub Actions as our CI/CD,
  Terraform to provision our infrastructure, Django as the web application framework, and
  Elasticsearch as our recommendation engine.

  In 2016, I built <a href="/runbudget">Run Budget</a>, a progressive training
  tool for runners. I'd just bought an Apple Watch and wanted to gain some experience
  with Swift and watchOS. It went through a few iterations, ranging from an
  automatic route generator to a training log that helped you increase mileage safely.

  <h3>Speaking</h3>

  I've spoken on user testing and OSS quality at several events.

  - DevOpsDays, Detroit, MI, 2019
  - Donut.js, Portland, OR, 2019
  - Front End PDX, Portland, OR, 2019
  - Code Academy, Portland, OR, 2019
  - Web Visions, Portland, OR, 2014
  - Open Source Bridge, Portland, OR, 2014
  - Big Design, Addison, TX, 2014

  <h3>Teaching</h3>

  I'm a Teaching Faculty at the Harvard Extension School.

  - CSCI E-82: Advanced Machine Learning, Data Mining, and Artificial Intelligence.
  - CSCI E-599: Software Engineering Capstone

  <h3>Writing</h3>

  I enjoy writing and have published in a few places.

  - <a href="https://www.packtpub.com/product/offline-first-web-development/9781785884573" target="_blank">Offline First Web Development <i class="fa fa-external-link" aria-hidden="true"></i></a>, Packt Publishing, 2015
  - <a href="https://uxdesign.cc/offline-93c2f8396124" target="_blank">Offline: When Your Apps Can't Connect to the Internet <i class="fa fa-external-link" aria-hidden="true"></i></a>, Medium, 2015
  - <a href="https://www.smashingmagazine.com/2014/11/how-to-run-user-tests-at-a-conference/" target="_blank">How To Run User Tests At A Conference <i class="fa fa-external-link" aria-hidden="true"></i></a>, Smashing Magazine, 2014
</Layout>