body {
  margin: 0 auto;
  min-width: 200px;
  max-width: 1024px;
  width: 100%;
  background-color: #f8f8f8;

  /* Fonts */
  font-family: 'Calisto MT', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5em;

  /* Footer */
  border-bottom: 100px solid transparent;
}

.header {
  width:100%;
  height:200px;
  left: 0;
  position: absolute;
  z-index: 10;
}

main {
  padding: 3em;
  background-color: #ffffff;
  border-left: solid 5px #eeeeee;
  border-right: solid 5px #eeeeee;
  border-bottom: solid 5px #eeeeee;
}

@media (max-width: 400px) {
  main {
    padding: 4em 0.5em 0 0.5em;
    border: none;
  }
}

h1 {
  font-size: 4em;
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 14px;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h3 {
  margin-bottom: 0;
}

img {
  width: 100%;
}

aside {
  background-color: #fcffe0;
  border-radius: 1em;
  padding: 5px 10px;
  font-size: 80%;
  border: 1px solid #f1f1cd;
}

.border {
  border: 1px solid #f1f1f1;
}

.quarter {
  width: 25%;
  display: block;
  margin: 0 auto;
}

.half {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.two-thirds {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.fa-external-link {
  font-size: 80%;
}

.nav-item {
  position: absolute;
  padding: 0.5em 0.75em;
  border-radius: 50%;
  background-color: none;
  z-index: 100;
}

.fork {
  top: 1em;
  right: 1em;
  color: #333333;
}

.fork:hover {
  background-color: #eeeeee;
}

.home {
  top: 1em;
  left: 1em;
  color: #ffffff;
}

.home:hover {
  background-color: rgb(37, 37, 37);
}