.project_hero {
  margin-bottom: 2em;
  position: relative;
  display: block;
}

.project_hero img {
  z-index: 0;
}

.project_hero img:hover {
  opacity: 0.4;
}

.project_hero h3 {
  margin-bottom: 0;
}

.project_hero p {
  margin-top: 0.5em;
}