.timeline-year {
  position: sticky;
  bottom: 0;
  display: block;
  background-color: #eeeeee;
  width: 40px;
  padding: 4px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  z-index: 100;
}

.timeline-year:hover {
  text-decoration: underline; /* Add underline on hover */
}

.timeline-content {
  padding-left: 4em;
  position: relative;

}

.timeline-content::before {
  content: '';
  display: block;
  width: 2px;
  position: absolute;
  left: 24px;
  top: 0px;
  bottom: 0;
  background-color: #EEEEEE;
  z-index: -100;
}

.timeline-content h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.timeline-content h3::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 21px;
  top: 24px;
  bottom: 0;
  background-color: #000000;
  z-index: -50;
}

.timeline-content p {
  margin-top: 0;
  margin-bottom: 1em;
}

.timeline-content img {
  max-width: 100%;
  height: auto;
}