.timeline-year {
  width: 40px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 4px;
  font-weight: bold;
  position: sticky;
  top: 0em; /* Stick to the top of the viewport */
  margin-right: 1em; /* Add space between year and timeline item content */
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit color from parent */
}

.timeline-year:hover {
  text-decoration: underline; /* Add underline on hover */
}

.timeline-item {
  display: flex;
  position: relative;
  align-items: flex-start; /* Align items to the top */
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 4em;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ccc;
}

.timeline-content {
  flex-grow: 1;
  padding-left: 30px;
  padding-bottom: 4em;
  position: relative;
}

.timeline-content::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 7px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}

.timeline-content h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.timeline-content p {
  margin-top: 0;
  margin-bottom: 1em;
}

.timeline-content img {
  max-width: 100%;
  height: auto;
}