---
import '../styles/index.css';
import '../styles/layout.css';

export interface BreadcrumbLink {
  text: string;
  href: string;
}

interface Props {
  title?: string;
  breadcrumbs?: BreadcrumbLink[];
}

import BackgroundCanvas from '../components/BackgroundCanvas.astro';

const { title = 'Daniel Sauble', breadcrumbs } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<main>
  <nav class="breadcrumbs">
    <a href="/">Home</a>
    {breadcrumbs && breadcrumbs.map((crumb, index) => (
      <>
        {' / '}
        <a href={crumb.href}>{crumb.text}</a>
      </>
    ))}
  </nav>
  <slot />
</main>
<BackgroundCanvas />
